@model BankWebApp.Models.Account

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Account Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Holder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Holder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HolderBirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HolderBirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="TransactionRecords" asp-action="TransactionRecords" asp-route-id="@Model.Id">See all the Transactions</a> 
</div>
